#hero-banner {
    background: url("https://www.lianatech.com/media/hero-images/cache/marketing-technology-stack-991x9999,q=85.jpg") no-repeat fixed center center/cover;
    height: 50vh;
    width: 100%;
    text-align: center;
}

#hero-banner .slogan{
    padding-top: 15vh;
    color: #fff;
    text-align: center;
}

#hero-banner .slogan button {
    height: 40px;
    background-color: #3D8618;
    border-radius: 3px;
    border: none;
    outline: none;
}

#hero-banner .slogan a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

/* Company Section */

#company {
    min-height: 100%;
}

#company .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 10%;
}

#company .info .img{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#company .img h3{
    position: relative;
    top: 60px;
}

#company .img .company{
    background: url("https://source.unsplash.com/1600x900/?people") 0 0 no-repeat;
    height: 28vh;
    width: 30%;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}

#company .img .employee{
    background: url("https://source.unsplash.com/1600x900/?people") 0 0 no-repeat;
    height: 28vh;
    width: 30%;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}

#company .img .contact-us{
    background: url("https://source.unsplash.com/1600x900/?people") 0 0 no-repeat;
    height: 28vh;
    width: 30%;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
} 

#company .company-info {
    display: flex;
    justify-content: space-around;
    padding: 10% 40%;
}

#company .company-info .fa-icon{
    color: #3D8618;
    font-size: 50px;
    padding-right: 30px;
    position: relative;
    top: 25px;
}

/* Latest News Section */

#news {
    height: 100%;
    background-color: rgb(228, 227, 227);
}

#news .news-area{
    padding: 20px 6%;
}

#news .news-area h2{
    text-align: center;
    font-size: 25px;
}

#news .experience {
    display: flex;
    justify-content: space-between;
}

#news .experience p {
    background-color: #fff;
    margin: 20px;
    width: 300px;
    min-height: 150px;
    text-align: left;
    padding: 15px;
    border-radius: 3px;
}

/* Reference Section */

#referance {
    background-color: #fff;
    box-shadow: 0 0 1px #333;
}

#referance h2{
    text-align: center;
}


#referance .container {
    max-width: 1200px;
    padding: 3rem;
    min-height: 25vh;
    margin: 0 auto;
    padding: 10px 8% 50px;
}

#referance .company-boxes{
    display: flex;
    justify-content: space-between;
}

#referance .box{
    background-color: white;
    width: 23%;
    border-radius: 2px;
    box-shadow: 0 0 1px #333;
}

#referance .box .logo {
    box-shadow: 0 0 1px #333;
}

#referance .box img {
    width: 100%;
    margin-bottom: 1rem;
    height: 150px;
}

#referance .box .info{
    padding: 1rem 1rem 0.5rem 1rem;
}


/* Newsletter Section */

#newsletter{
    text-align: center;
    padding: 20px 0 50px;
} 

#newsletter input[type="email"]{
    height: 35px;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 10px;
}

#newsletter input[type="submit"]{
    background-color: #3D8618;
    font-size: 14px;  
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
}


@media (max-width: 576px) {
    /* Hero Banner */

    #hero-banner {
        min-width: 100vh;
    }

    /* Company-Info Section */
    #company .info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
        width: 100%;
    }

    #company .info .img {
        flex-direction: column;
        margin: 20px;
    }

    #company .img .company{
        width: 100%;
    }
    #company .img .employee{
        width: 100%;
    }
    #company .img .contact-us{
        width: 100%;
    }


    /* News Section  */
    #news {
        height: 100%;
    }

    #news .experience{
        flex-direction: column;
    }

    #news .experience p{
        width: 100%;
    }


    /* Referance Section */

    #referance .company-boxes {
        flex-direction: column;
    }

    #referance .box {
        width: 100%;
        margin: 1rem 0;
    }

    #referance .box img {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}


