#footer{
    background-color: black;
    height: 100%;
}

.footer{
    padding: 70px 10%;
    display: flex;
    justify-content: space-between;
    color: white;
}

#footer .company-name {
    display: flex;
}

#footer .contact-info p {
   font-size: 16px;
}
#footer .contact-info p span {
    font-weight: bold;
}

#footer .company-name .button{
    padding-left: 35px;
    position: relative;
    top: 45px;
}

#footer .company-name button{
    background-color: #3D8618;
    font-size: 14px;  
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    min-width: 100px;
}

#footer .menu-links ul{
    display: flex;
}

#footer .menu-links ul li{
    list-style-type: none;
}

#footer .menu-links ul a{
    text-decoration: none;
    margin-left: 10px;
    color: aliceblue;
}

#footer .social-media ul{
    display: flex;
    justify-content: flex-end;
}

#footer .social-media li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 40px;
    color: #3D8618;
    position: relative;
    top: 50px;
}



@media (max-width: 576px) {
    #footer{
        width: 100vh;
    }
    #footer .footer {
        flex-direction: column;
        align-items: center;
        padding: 10%;
    }

    #footer .contact h3 {
        text-align: center;
    }

    #footer .company-name {
        flex-direction: column;
        text-align: center;
    }

    #footer .company-name button{
        position: relative;
        top: -40px;
        left: -25px;
    }

    #footer .menu-links ul{
        justify-content: space-between;
        position: relative;
        left: -35px;
        top: 10px;
    }

    #footer .menu-links ul{
        justify-content: flex-start;
    }

    #footer .social-media ul {
        justify-content: flex-start;
        position: relative;
        top: -30px;
        left: -40px;
    }
}

/* @media (max-width: 768px){
    #footer .social-media ul{
        display: flex;
        justify-content: flex-start;
    }

    .footer {
        justify-content: center;
    }
} */

@media (max-width: 992px) {

    .footer{
        padding: 70px 10%;
        display: flex;
        justify-content: space-between;
        color: white;
    }
    
    #footer .company-name {
        display: flex;
    }
    
    #footer .contact-info p {
       font-size: 16px;
    }
    #footer .contact-info p span {
        font-weight: bold;
    }
    
    #footer .company-name .button{
        position: relative;
        top: 45px;
    }
 
    #footer .social-media ul{
        display: flex;
        justify-content: center;
    }
    
}
