#footer{
    background-color: black;
    height: 45vh;
}

.footer{
    padding: 70px 10%;
    display: flex;
    justify-content: space-between;
    color: white;
}

#footer .company-name {
    display: flex;
}

#footer .contact-info p {
   font-size: 16px;
}
#footer .contact-info p span {
    font-weight: bold;
}

#footer .company-name .button{
    padding-left: 35px;
    position: relative;
    top: 45px;
}

#footer .company-name button{
    background-color: #3D8618;
    font-size: 14px;  
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    min-width: 100px;
}

#footer .menu-links ul{
    display: flex;
}

#footer .menu-links ul li{
    list-style-type: none;
}

#footer .menu-links ul a{
    text-decoration: none;
    margin-left: 10px;
    color: aliceblue;
}

#footer .social-media ul{
    display: flex;
    justify-content: flex-end;
}

#footer .social-media li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 40px;
    color: #3D8618;
    position: relative;
    top: 50px;
}



